@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../IMG/jumbo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 600px;
  }

  body{
    background-color: 	#6699CC;
  }

  h1,h2 {
    font-family: 'Bangers', cursive;
    
  }
  
  .fa-brands {
    color: red;
  }
  .social {
    font-size: x-large;
  }

  .building {
    height: 30.5rem;
  }